.App {
  text-align: center;
}

Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #72729d;
}

.landing {
  display: flex;
  height: 100vh;
}

.left-container{
  width: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
  background: #2a2a3c;
  color: pink;
} 

.right-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a2a3c;
}

.oliver-btn {
  background-color: rgb(128, 157, 250);
  width: 230%;
}

.oliver-btn:hover {
  background-color: rgb(50, 55, 184);
}

.oscar-btn {
  background-color: rgb(205, 63, 87);
  width: 230%;
}

.oscar-btn:hover {
  background-color: rgb(162, 39, 96);
}
